/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#main-pane{
    -fx-font-family: "Abyssinica SIL";
    -fx-font-size: 14px;
}

.round-button {
    -fx-background-color: #fff;
    -fx-background-radius: 16em;
    -fx-background-insets: 0;
    -fx-min-width: 22px; 
    -fx-min-height: 22px;
    -fx-max-width: 22px;
    -fx-max-height: 22px;
    -fx-cursor: hand;
    /* -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1); */
}

.chart {
    -fx-padding: 0px;
}
.chart-content {
    -fx-padding: 0px;
}

.root {
	-fx-font-family: 'Open Sans';
}
